<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
 
	<!-- Database Configuration -->
	<import resource="classpath:szgm/config/spring/beans/DataSource.xml"/>
	<import resource="classpath:szgm/config/spring/beans/HibernateSessionFactory.xml"/>
 
	<!-- Beans Declaration -->
	<import resource="classpath:szgm/towar/spring/TowarBean.xml"/>
	<import resource="classpath:szgm/vat/spring/VatBean.xml"/>
	<import resource="classpath:szgm/jednostka/spring/JednostkaBean.xml"/>
	<import resource="classpath:szgm/waluta/spring/WalutaBean.xml"/>
	<import resource="classpath:szgm/grupa/spring/GrupaBean.xml"/>
 	<import resource="classpath:szgm/sklep/spring/SklepBean.xml"/>
 	<import resource="classpath:szgm/uzytkownik/spring/UzytkownikBean.xml"/>
 	<import resource="classpath:szgm/rola/spring/RolaBean.xml"/>
 	<import resource="classpath:szgm/typDokumentu/spring/TypDokumentuBean.xml"/>
 	<import resource="classpath:szgm/konfiguracja/spring/KonfiguracjaBean.xml"/>
 	<import resource="classpath:szgm/core/CoreBean.xml"/>
 	<import resource="classpath:szgm/kontrahent/spring/KontrahentBean.xml"/>
</beans>
